In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \nLet the angels fly l...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \nMore power \nPower to...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \nis something i'll believe \nf...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \nam i frightened \nwhere can ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \nmake yourself at home \ni'm a bit ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,Bill Withers,Harlem,"Summer night in Harlem, \nMan it's really hot..."
1,Adele,Send My Love To,"This was all you, none of it me \nYou put you..."
2,Ellie Goulding,My Blood,"That feeling, that doesn't go away just did \..."
3,Cake,Sheep Go To Heaven,I'm not feeling alright today \nI'm not feeli...
4,Glee,Do They Know It's Christmas,"It's Christmas time, there's no need to be afr..."
5,Townes Van Zandt,"Fare Thee Well, Miss Carousel",The drunken clown's still hanging round \nBut...
6,Howard Jones,The Balance Of Love,Price of your love's too much to pay \nI'll s...
7,The Beatles,Besame Mucho,"Esame besame mucho, \nEach time I bring you a..."
8,Kelly Clarkson,A Whole New World,"I can show you the world, \nShining, shimmeri..."
9,Richard Marx,Silent Scream,Twenty four and he believes for sure he's got ...

In [10]:
df['text'][0]

"Summer night in Harlem,  \nMan it's really hot!  \nWell it's too hot to sleep  \nAnd too hot to eat.  \nI don't care if I die or not!  \n  \nWinter night in Harlem,  \nOh oh radiator won't get hot,  \nAnd that mean ole landlord  \nHe don't care if I freeze to death or not!  \n  \nSaturday night in Harlem,  \nAhh every thing's alright.  \nYou can really swing and shake your pretty thing,  \nThe parties are out of sight.  \n  \nSunday morning here in Harlem  \nNow every body's all dressed up.  \nThe heathen folk just getting home from the party  \nAnd the good folk just got up.  \nOur crooked delegation  \nWants a donation  \nTo send the preacher to the holy land  \nHey hey lord honey don't give your money  \nTo that lying, cheating man..  \n  \nSaturday night in Harlem,  \nAhh every thing's alright.  \nYou can really swing and shake your pretty thing,  \nThe parties are out of sight.\n\n"

In [11]:
df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)

In [14]:
df.head(7)

,artist,song,text
3241,Justin Timberlake,Lets Make Love,yo yo it's justin hey ya'll wats up wats...
4627,Peter Tosh,I Am That I Am,i'm not in this world to live up to your exp...
547,Joni Mitchell,The Wolf That Lives In Lindsey,of the darkness in men's minds what can you ...
3677,Britney Spears,Hey Madonna,i've got a madonnai've got a big black shiny m...
3828,Dusty Springfield,I Don't Want To Hear It Anymore,in my neighborhood we don't live so good t...
4048,Fall Out Boy,Headfirst Slide Into Cooperstown On A Bad Bet,mr. sandman showing his beam when he walks i...
3803,Randy Travis,Feet On The Rock,"well i wanna talk to you for a minute, about..."

In [15]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kagisomakgaba/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [16]:
stemmer = PorterStemmer()

In [17]:
def token(txt):
    tokens = nltk.word_tokenize(txt)
    # Apply stemming to each token
    stemmed_tokens = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed_tokens)

In [18]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [19]:
# Apply the tokenization function to the 'text' column
df['text'] = df['text'].apply(lambda x: token(x))

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [22]:
similarity[0]

array([1.        , 0.0259431 , 0.0360712 , ..., 0.03545237, 0.04642349,
       0.07307482])

In [24]:
df[df['song'] == 'I Am That I Am'].index[0]

np.int64(4627)

Recommender Function

In [25]:
def recommendation(song_name):
    # Check if any rows match the condition
    if df[df['song'] == song_name].empty:
        print(f"No recommendations found for '{song_name}'.")
        return
        
    # Get the index of the first matching row
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])), reverse=True, key = lambda x: x[1])
        
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
            
    return song

In [27]:
recommendation("Feet On The Rock")

['All Night Long',
 'Politics',
 "But You're Mine",
 'Walk Away',
 'Hey, Soul Sister',
 'Smile',
 'I Wanna Be With You',
 'Ever Open Door',
 'All I Ever Wanted',
 'Hey Stoopid',
 'Summertime Blues',
 'Look Out For My Love',
 "She's Got That Look In Her Eyes",
 'Duets For One',
 'I Look To You',
 'Happy',
 'Hey Hey Baby',
 "She Look's To Me",
 'I Want A Lover',
 'How Are You?']

In [28]:
import pickle

In [29]:
# Save the similarity matrix
pickle.dump(similarity, open('similarity.pkl','wb'))

In [30]:
# Save the DataFrame
pickle.dump(df, open('df.pkl','wb'))